.colored-label {
    font-size: 0.7em;
    padding: 2px 10px;
    color: white;
    border-radius: 5px;
}

.red-label {
    background: #EF5463;
}

.yellow-label {
    background: #F9AC51;
}

.blue-label {
    background: #0AC6C9;
}