$mailHeaderColor: #696C6E;

.mail-list-header {
    padding: 20px;
    border-bottom: 1px solid $border-color;
    
    .mail-list-header__row {
        display: grid;
        align-items: center;
        grid-template-columns: 25% 1fr 40%;

        @include screen-sm {
            grid-template-columns: 25% 1fr 70%;
        }
    
        h2 {
            color: $mailHeaderColor;
            font-weight: normal;

            @include screen-sm {
                font-size: 15px;
            }
        }
    
        &__actions {
            display: flex;
        }

        &__page {
            display: flex;
            justify-content: flex-end;
            grid-column-start: 3;
            grid-column-end: 4;
        }
    }
}