body {
    margin: 0;
}

.content-wrapper {
    margin-left: 3rem;
    transition: margin-left 2s;
}

.content-wrapper-slide {
    margin-left: 8rem;
}

.content-area {
    display: grid;
    grid-template-columns: 25% 75%;
    font-family: $font;
    background-color: #f3f3f4;
    width: 100%;
}