$label-background: #ffff;
$label-color: #686B6D;
.label {
    display: flex;
    background-color: $label-background;
    color: $label-color;
    padding: 8px 10px;
    border: 1px solid $border-color;
    border-radius: 2px;
    margin-right: 8px;
    margin-bottom: 8px;

    @include screen-sm {
        padding: 2px 4px;
    }

    img {
        height: 15px;
        width: 15px;
    }

    p {
        font-size: 12px;
        margin: 0;
        margin-left: 5px;

        @include screen-sm {
            font-size: 8px;
        }
    }
}