.mail-list-header-search {
    display: flex;
    justify-content: space-between;
    border: 1px solid $border-color;
    border-radius: 6px;
    width: 100%;
    grid-column-start: 3;
    grid-column-end: 4;

    input {
        border: none;
        border-radius: 6px 0 0 6px;
        padding: 10px;

        @include screen-sm {
            font-size: 10px;
        }
    }

    button {
        background-color: $primary-color;
        padding: 10px;
        color :white;
        border: none;
        border-radius: 0 6px 6px 0;

        @include screen-sm {
            font-size: 10px;
        }

    }
}