.login-page {
    display: flex;
    font-family: $font;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__error {
        background-color: #f94a4a;
        color: white;
        border-radius: 4px;
        padding: 1rem;
        margin-bottom: 2rem;
    }

    input {
        width: 200px;
        height: 40px;
        margin-bottom: 2rem;
        border: 1px solid $primary-color;   
    }

    button {
        background-color: $primary-color;
        width: 100px;
        color: white;
        padding: 8px;
        border: 1px;
        border-radius: 4px;

        a {
            text-decoration: none;
            color: white;
        }
    }

}