$navigator-background: #f3f3f4;
.navigator {
    background-color: $navigator-background;
    padding: 20px;
    min-height: 100vh;

    @include screen-sm {
        display: none;
    }

    &__labels {
        &__wrapper {
            display: flex;
            flex-wrap: wrap;
        }
    }

    &__folders, &__categories, &__labels {
        color: #676A6C;
    }

    &__categories {
        &__dots {
            img {
                height: 55%;
                width: 55%;
            }
        }
    }
}