$navigator-background: #f3f3f4;
.navigator {
    font-family: 'Vazir', sans-serif;
    width: 25%;
    background-color: $navigator-background;
    padding: 20px;

    &__labels {
        &__wrapper {
            display: flex;
            flex-wrap: wrap;
        }
    }
}