$navigator-background: #f3f3f4;
.navigator {
    background-color: $navigator-background;
    padding: 20px;
    height: 100vh;

    &__labels {
        &__wrapper {
            display: flex;
            flex-wrap: wrap;
        }
    }
}